@import url(./vendor/normalize.css);
@import url(./fonts/inter.css);

body {
    background-color: #2A2C2F;
    margin: 0;
}

.page {
    max-width: 1280px;
    min-width: 320px;
    margin: 0 auto;
    font-family: Inter, Arial, sans-serif;
    color: #fff;
    background-color: #2a2c2f;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 28px 48px 0;
    transition: .3s;
}

.header__lang-link {
    font-size: 24px;
    line-height: 28px;
    padding-left: 12px;
    margin-bottom: 2px;
}

.header__lang-link_active {
    text-decoration: underline;
}

@media (min-width: 320px) and (max-width: 767px) {
    .header {
        padding: 16px 16px 0;
    }
    .header__logo {
        width: 142px;
    }
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 6px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .header {
        padding: 28px 24px 0;
    }
}

/* lead */

.lead {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 92px;
}

.lead__title {
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;    
    max-width: 720px;
    margin: 59px 0 32px;
    transition: .3s;   
}

.lead__subtitle {
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    max-width: 640px;
    margin: 0 0 62px;
    transition: .3s;
}

.lead__image-sec {
    margin: 0;
    transition: .3s;
}

.lead__image {
    width: 100%;
    margin-bottom: 6px;
}

.lead__caption {
    text-align: start;
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transition: .3s;
}

@media (min-width: 320px) and (max-width: 767px) {
    .lead {
        margin-bottom: 64px;
    }
    .lead__title {
        margin: 49px 0 15px;
        font-size: 40px;
        line-height: 44px;
        width: 288px;
    }
    .lead__subtitle {
        margin-bottom: 40px;
        font-size: 16px;
        line-height: 20px;
        width: 288px;
    }
    .lead__caption {
        margin-left: 16px;
    }
    .lead__image {
        margin-bottom: 4px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .lead {
        margin-bottom: 89px;
    }
    .lead__title {
        margin: 48px 0 32px;
    }
    .lead__subtitle {
        margin-bottom: 57px;
    }
    .lead__caption {
        margin-left: 24px;
    }
    .lead__image {
        margin-bottom: 3px;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .lead__title {
        margin-top: 48px;
    }
    .lead__subtitle {
        margin-bottom: 56px;
    }
    .lead__image-sec {
        padding-left: 48px;
        padding-right: 48px;
    }
}

/* intro */

.intro-block {
    margin: 0 48px;
    transition: .3s;
}

.intro {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    max-width: 984px;
    margin: 0 auto;
}

.intro__title {
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    margin: 0 0 39px;
    transition: .3s;
}

.intro__text {
    font-size: 16px;
    line-height: 163%;
    margin: 0 0 31px;
    max-width: 690px;
}

.intro__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.intro__list-item {
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
}

.intro__list-item_normal {
    font-weight: normal;
}

@media (min-width: 320px) and (max-width: 767px) {
    .intro-block {
        margin: 0 16px;
        transition: .3s;
    }
    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }
    .intro__text {
        margin-bottom: 33px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .intro-block {
        margin: 0 24px;
    }
}


/* photo-grid-sec */

.photo-grid-sec {
    padding: 92px 47px;
    transition: .3s;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    flex-wrap: wrap;
    gap: 16px;
    transition: .3s;
}

.photo-grid__item {
    width: 100%;
}

@media (min-width: 320px) and (max-width: 767px) {
    .photo-grid-sec {
        padding: 64px 16px;
        transition: .3s;
    }
    .photo-grid {
        gap: 12px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .photo-grid-sec {
        padding: 88px 24px;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .photo-grid {
        gap: 14px;
    }
}

/* places */

.places-sec {
    padding: 0 148px 92px;
    transition: .3s;
}

.places__place {
    display: grid;
    grid-template-columns: minmax(340px, 460px) minmax(352px, 484px);
    column-gap: 40px;
    row-gap: 48px;
    max-width: 984px;
    transition: .3s;
}

.places__place_title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
    transition: .3s;
}

.places__place_image {
    max-width: 100%;
    transition: .3s;
}

.website__url-heading {
    font-size: 12px;
    line-height: 12px;
    color: #AAAAAA;
}

.places__place_website {
    align-self: end;   
}

.place_min-padding {
    padding-top: 20px;
}

.website__link {
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    transition: .3s opacity linear;
}

.website__link:hover {
    opacity: .8;
}

.places__place_paragraph {
    font-size: 18px;
    line-height: 163%;
    margin: 0;
    transition: .3s;
}

.places__place_paragraph:not(:last-child) {
    margin: 0 0 24px;
}

.places__place:not(:last-child) {
    margin-bottom: 80px;
}

@media (min-width: 320px) and (max-width: 767px) {
    .places__place {
        display: grid;
        row-gap: 32px;
        grid-template-columns: minmax(min-content, 1fr);
        transition: .3s;
    }
    .places-sec {
        padding: 0 0 66px;
        transition: .3s;
    }
    .places__place_title {
        font-size: 32px;
        line-height: 35px;
        margin-left: 16px;
    }
    .places__place_website {
        margin-left: 16px;
    }
    .places__place:not(:last-child) {
        margin-bottom: 50px;
    }
    .places__place_paragraphs {
        margin-right: 16px;
        margin-left: 16px;
    }
    .places__place_paragraph {
        font-size: 16px;
        line-height: 163%;
    }
    .website__url-heading {
        margin: 0 0 13px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .places__place_title {
        font-size: 42px;
        line-height: 50px;
        width: 330px;
        display: flex;
        align-items: center;
    }
    .places__place_paragraph {
        font-size: 16px;
        line-height: 163%;
    }
    .places-sec {
        padding: 0 24px 88px;
    }
    .places__place {
        column-gap: 28px;
        row-gap: 42px;
    }
    .places__place_paragraph:not(:last-child) {
        margin: 0 0 25px;
    }
    .places__place:not(:last-child) {
        margin-bottom: 63px;
    }
    .places__place_website {
        margin-bottom: 3px;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .places-sec {
        padding: 0 48px 92px;
    }
    .places__place {
        column-gap: 32px;
    }
}

/* cover */

.cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    max-width: 1184px;
    margin: 0 auto;
}

.cover__overlay {
    background: url(./images/__background.jpg);
    z-index: 0;
    text-decoration: none;
    background-size: cover;
    position: relative;
    color: white;
    background-position: center;
}

.cover__overlay::before {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    content: "";
    background: #2A2C2F;
    opacity: 0.3;
    transition: opacity .3s;
    z-index: -1;
}

.cover__overlay:hover::before {
    opacity: 0.8;
}

.cover__background {
    display: flex;
    align-items: center;
    background-size: cover;
    justify-content: center;
    flex-direction: column;
    min-height: 740px;
}

.cover__title {
    font-size: 72px;
    margin: 0;
    font-weight: 900;
    line-height: 76px;
    max-width: 560px;
    transition: .3s;
    text-align: center;
}

.cover__subtitle {
    font-size: 18px;
    margin: 32px 0 0 0;
    font-weight: 400;
    line-height: 22px;
    max-width: 360px;
    transition: .3s;
    text-align: center;
}

@media (min-width: 320px) and (max-width: 767px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        width: 252px;
    }
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        width: 260px;
    }
    .cover__background {
        min-width: 320px;
        min-height: 200px;
    }
}


@media (min-width: 768px) and (max-width: 1023px) {
    .cover__background {
        min-height: 480px;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .cover__background {
        min-height: 640px;
    }
}

/* footer */

.footer-sec {
    padding: 89px 50px 24px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer__list {
    display: flex;
    padding: 0;
}

.footer__link {
    list-style: none;
}

.footer__link-a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    line-height: 18px;
    transition: .3s opacity linear;
}

.footer__link-a:hover {
    opacity: 0.8;
}

.footer__link:not(:last-of-type) {
    margin-right: 18px;
}

.footer__copyright {
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    display: flex;
    align-items: center;
}

@media (min-width: 320px) and (max-width: 767px) {
    .footer-sec {
        padding: 64px 16px 24px;
    }
    .footer {
        flex-direction: column;
    }
    .footer__list {
        flex-direction: column;
        margin-bottom: 48px;
    }
    .footer__link:not(:last-of-type) {
        margin-bottom: 32px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .footer-sec {
        padding: 89px 24px 24px;
    }
}