/* Без задачи ширины текстовому блоку - как на макете не получается сделать текст */

.cover__subtitle {
    font-size: 18px;
    margin: 16px 0 0 0;
    font-weight: 400;
    line-height: 22px;
    max-width: 360px;
    transition: .3s;
    text-align: center;
}

@media (min-width: 320px) and (max-width: 767px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        width: 260px;
    }
}
