.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 28px 48px 0;
    transition: .3s;
}

@media (min-width: 320px) and (max-width: 767px) {
    .header {
        padding: 16px 16px 0;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .header {
        padding: 28px 24px 0;
    }
}