.footer__link-a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    line-height: 18px;
    transition: .3s opacity linear;
}

.footer__link-a:hover {
    opacity: 0.8;
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer__link-a {
      font-size: 24px;
      line-height: 24px;
  }
}
/* У каждого элемента должна быть отдельная папка  */
/* Разве не у каждого блока? Элемент в элементе/модификатор в модификаторе */
