.cover__overlay {
    background: url(../../../images/cover-trains.jpg);
    z-index: 0;
    text-decoration: none;
    background-size: cover;
    position: relative;
    color: white;
    background-position: center;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: center;
  flex-direction: column;
  min-height: 740px;
}

.cover__overlay::before {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    content: "";
    background: #2A2C2F;
    opacity: 0.3;
    transition: opacity .3s;
    z-index: -1;
}

.cover__overlay:hover::before {
    opacity: 0.8;
}

/* .cover__background {
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: center;
  flex-direction: column;
  min-height: 740px;
} */

@media (min-width: 320px) and (max-width: 767px) {
  .cover__overlay {
      min-width: 320px;
      min-height: 200px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .cover__overlay {
      min-height: 480px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .cover__overlay {
      min-height: 640px;
  }
}

